.controls {
   width: 880px;
   margin: auto;
   border: 1px solid #000;
}

button {
   margin: 5px 10px;
}

.surface{
   width: 880px;
   height: 880px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}

.pixel {
   margin: 1px;
   border: 1px solid #000;
}

.colored {
   background-color: #000;
}