.controls {
   width: 880px;
   margin: auto;
   border: 1px solid #000;
}

button {
   margin: 5px 10px;
   padding: 6px 12px;
   background-color: #F00;
   border: none;
   border-radius: 12px;
   color: #FFF;
}

.surface{
   width: 880px;
   height: 880px;
   margin: auto;
   border: 1px solid #000;
   display: flex;
   flex-wrap: wrap;
}

.pixel {
   border: 1px solid #000;
}

.colored {
   background-color: #000;
}